<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'trends' %>
      <%= render 'feeds' %>
      <%= render 'who-to-follow' %>
    </div>
  </div>
</section>
